/* Home */
home {
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: #f7f7f7; */
  background-color: #fff;
  margin-bottom: 10rem;
}
.detail img {
  height: 20rem;
}
.fontclr {
  color: #1de2d1;
}
.detail {
  position: relative;
}
.div1 {
  position: absolute;
  top: 6rem;
  left: 6rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.7rem;
}
.div2 {
  position: absolute;
  top: 9rem;
  left: 6rem;
  font-size: 2.9rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
}
.div3 {
  position: absolute;
  top: 13rem;
  left: 7rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.8rem;
}
.photo img {
  height: 19rem;
  margin-left: 200px;
  border-radius: 10rem;
  background-color: #ffffff;
}
home2 {
  display: flex;
  display: none;
  justify-content: space-evenly;
}
home2 > .image img {
  height: 30rem;
}
home2 > .text {
  font-family: "PT Sans Narrow", sans-serif;
  color: #868e96;
  margin: auto;
}
.text h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  font-size: 2.8rem;
}

.text > .p3:hover {
  color: black;
}
.text > h2:hover {
  color: black;
}
.text > .p1:hover {
  color: black;
}

/* Responsive */
@media screen and (max-width: 767px) {
  home {
    display: none;
  }
  home2 {
    display: block;
  }
  home2 > .image img {
    height: 15rem;
  }
  home2 {
    display: flex;
  }
  /* .detail img {
    width: 100%;
    height: auto;
  }
  .detail > .div1 {
    left: 3rem;
    top: 2.3rem;
    font-size: 1.3rem;
  }
  .detail > .div2 {
    left: 3rem;
    top: 4.6rem;
    font-size: 1.8rem;
  }
  .detail > .div3 {
    left: 3rem;
    top: 7rem;
    font-size: 1.5rem;
  }
  .photo img {
    width: 40%;
    height: auto;
  } */
}
/* Animate */
.div3,
.animate {
  animation: typing 6s infinite;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 28ch;
  }
  100% {
    width: 0ch;
  }
}
