* {
  margin: 0%;
  padding: 0;
  overflow-x: hidden;
}
/* Navcss */
nav {
  padding: 2rem 3rem;
  background-color: #28231d;
}
.total-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-nav-container > .logo img {
  width: 8rem;
}
.total-nav-container > .navlink-wrapper {
  width: 45%;
}
.total-nav-container > .navlink-wrapper ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.total-nav-container > .navlink-wrapper ul a,
.intresting {
  /* color: #2c3e50; */
  color: linen;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3;
}
.nav-link {
  width: 100px;
  text-align: center;
}
.total-nav-container > .navlink-wrapper ul a:hover {
  color: #fff;
  letter-spacing: 0.1rem;
  text-decoration: underline;
}
.intresting:hover {
  color: #cea135;

  cursor: pointer;
}

/* Home */
home {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f7f7f7; */
  background-color: #fff;
  margin-bottom: 10rem;
}
.detail img {
  height: 27rem;
}
.fontclr {
  color: #1de2d1;
}
.detail {
  position: relative;
}
.div1 {
  position: absolute;
  top: 8rem;
  left: 6rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.7rem;
}
.div2 {
  position: absolute;
  top: 11rem;
  left: 6rem;
  font-size: 2.5rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 600;
}
.div3 {
  position: absolute;
  top: 15rem;
  left: 7rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.8rem;
}
.photo img {
  height: 19rem;
  margin-left: 200px;
  border-radius: 10rem;
  background-color: #ffffff;
}
/* Education */
.edu {
  padding: 2rem;
  background-color: #28231d;
  color: white;
  font-family: "PT Sans Narrow", sans-serif;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.edu h2,
.skills h2,
.intrests h2 {
  padding-bottom: 2rem;
  font-size: 2.8rem;
}
.p1 {
  font-size: 1.8rem;
  /* color: #868e96; */
}
.p2 {
  font-weight: 1rem;
  /* color: #868e96; */
}
.p3 {
  font-size: 1.2rem;
}
/* SKILLS */
/* #868e96 */
.skills {
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  margin-bottom: 14rem;
}
.p4 {
  font-size: 2rem;
  color: #868e96;
  margin-bottom: 2rem;
}

.skills > .skill i {
  font-size: 3rem;
  color: #868e96;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.p4:hover,
.skills > .skill i:hover {
  color: #000;
}
/* Intrests */
.intrests {
  padding: 5rem, 0;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  margin-bottom: 14rem;
  background-color: #28231d;
  color: white;
}
.p5 {
  font-size: 1.5rem;
  padding: 0, 2rem;
  margin-bottom: 2rem;
  padding-bottom: 5rem;
}
